@layer base,
layout,
text,
appearance,
other,
animation;

@import "base.css?v=202311160805" layer(base);

@layer layout {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main{
        min-inline-size:390px;
    }
    #google-signin{
        inline-size:212px;
        > div{
            display:flex;
            justify-content:center;
        }
    }
}
@layer appearance {
    li{
        list-style-type: none
    }
}